@charset "UTF-8"

* {
    margin: 0; 
    padding: 0
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto Slab;
    background: linear-gradient(-150deg, #151617, #24434c);
}

#app {
    font-size: 200%;
    border-radius: 3px;
    background: #fefefe;
    width: 300px;
    height: 300px;
    text-align: center;
}

.count {
    margin-top: 30px;
    font-size: 4rem;
}

.count + .form-control {
    width: 70%;
    margin: 0 auto 20px;
}